* {
    font-family: "Montserrat";
}
body {
    background-color: #eee;
    border-style: solid;
}
#zubiri {
    style="width: 90%;"
}
#zubiri h1 {
    float: left;
    padding-left: 50px;
}
#zubiri img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 6px 6px 6px;
    float: left;
    margin-left: 400px;
    margin-top: 20px;
}
h1 {
    font-size: 40px;
}
h2 {
    text-align: center;
}
nav {
    border-top: solid;
    width: 100%;
    text-align: center;
    float: left;
}
nav li {
    display: inline;
    margin-left: 3px;
    text-align: center;
    border-style: solid;
    padding: 5px;
}
nav li:hover {
    background-color: orange;
}
nav a {
    text-decoration: none;
    padding: 5px;
}
p {
    padding-left: 25px;
    padding-right: 25px;
}
#imagen {
    text-align: center;
}
#imagen img {
    height: 30%;
    width: 30%;
}
#conjunto {
    border-style: solid;
    width: 100%;
    height: 100%;
    float: left;
}
#text {
    width: 49%;
    float: left;
    border-right: solid;
}
aside {
    width: 49%;
    float: left;
    border-top: solid;
    height: 100%;
}
iframe {
    align-self: center;
}
footer {
    float: left;
    width: 100%;
    text-align: center;
    border-bottom: solid;
}
@media screen and (max-width: 500px) {
	#zubiri {
    width: 90vw;
}
#zubiri h1 {
    float: left;
    padding-left: 50px;
}
#zubiri img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 6px 6px 6px;
    float: left;
    margin-left: 40px;
    margin-top: 2px;
}
}